# Lendo os 3 arquivos

In [1]:
pip install pandas

Requirement already satisfied: pandas in d:\documentos\doutorado\python\venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in d:\documentos\doutorado\python\venv\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\documentos\doutorado\python\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\documentos\doutorado\python\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\documentos\doutorado\python\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in d:\documentos\doutorado\python\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pandas as pd
import io
import os

In [18]:
#Lendo os arquivos

df_cwb = pd.read_csv(r"D:\Documentos\Doutorado\Python\python_env_app\dados\Dados_Sul\dados_CWB_D_2020-01-01_2024-12-31.csv")
df_itj = pd.read_csv(r"D:\Documentos\Doutorado\Python\python_env_app\dados\Dados_Sul\dados_ITJ_D_2020-01-01_2024-12-31.csv")
df_poa = pd.read_csv(r"D:\Documentos\Doutorado\Python\python_env_app\dados\Dados_Sul\dados_POA_D_2020-01-01_2024-12-31.csv")

print (df_cwb)
print (df_itj)
print (df_poa)

               Nome: CURITIBA         Unnamed: 1
0       Latitude: -25.4486111                NaN
1     Longitude: -49.23055554                NaN
2            Altitude: 922.91                NaN
3                         NaN                NaN
4                    DATETIME  TEMPERATURA_MEDIA
...                       ...                ...
1827               12/27/2024               21.7
1828               12/28/2024               22.3
1829               12/29/2024               20.5
1830               12/30/2024               19.5
1831               12/31/2024               20.6

[1832 rows x 2 columns]
                 Nome: ITAJAI         Unnamed: 1
0      Latitude: -26.95083333                NaN
1     Longitude: -48.76194444                NaN
2              Altitude: 9.76                NaN
3                         NaN                NaN
4                    DATETIME  TEMPERATURA_MEDIA
...                       ...                ...
1827               12/27/2024                 23
1828               12/28/2024               24.5
1829               12/29/2024               24.1
1830               12/30/2024               23.2
1831               12/31/2024                 24

[1832 rows x 2 columns]
     Nome: PORTO ALEGRE - JARDIM BOTANICO         Unnamed: 1
0                  Latitude: -30.05361111                NaN
1                 Longitude: -51.17472221                NaN
2                         Altitude: 41.18                NaN
3                                     NaN                NaN
4                                DATETIME  TEMPERATURA_MEDIA
...                                   ...                ...
1827                           12/27/2024               23.6
1828                           12/28/2024               23.3
1829                           12/29/2024               22.6
1830                           12/30/2024               23.3
1831                           12/31/2024               24.3

[1832 rows x 2 columns]

In [20]:
# Criando colunas a partir dos metadados

#Curitiba

df_cwb['CIDADE'] = 'Curitiba'
df_cwb['ESTACAO_CODIGO'] = 'CWB'
df_cwb['LATITUDE'] = -25.4486111
df_cwb['LONGITUDE'] = -49.23055554
df_cwb['ALTITUDE'] = 922.91

#Itajai
df_itj['CIDADE'] = 'Itajai'
df_itj['ESTACAO_CODIGO'] = 'ITJ'
df_itj['LATITUDE'] = -26.95083333
df_itj['LONGITUDE'] = -49.23055554
df_itj['ALTITUDE'] = 9.76

#Porto Alegre
df_poa['CIDADE'] = 'Porto Alegre'
df_poa['ESTACAO_CODIGO'] = 'POA'
df_poa['LATITUDE'] = -30.05361111
df_poa['LONGITUDE'] = -51.17472221
df_poa['ALTITUDE'] = 41.18
print (df_cwb)
print (df_itj)
print (df_poa)

               Nome: CURITIBA         Unnamed: 1    CIDADE ESTACAO_CODIGO  \
0       Latitude: -25.4486111                NaN  Curitiba            CWB
1     Longitude: -49.23055554                NaN  Curitiba            CWB
2            Altitude: 922.91                NaN  Curitiba            CWB
3                         NaN                NaN  Curitiba            CWB
4                    DATETIME  TEMPERATURA_MEDIA  Curitiba            CWB
...                       ...                ...       ...            ...
1827               12/27/2024               21.7  Curitiba            CWB
1828               12/28/2024               22.3  Curitiba            CWB
1829               12/29/2024               20.5  Curitiba            CWB
1830               12/30/2024               19.5  Curitiba            CWB
1831               12/31/2024               20.6  Curitiba            CWB

       LATITUDE  LONGITUDE  ALTITUDE
0    -25.448611 -49.230556    922.91
1    -25.448611 -49.230556    922.91
2    -25.448611 -49.230556    922.91
3    -25.448611 -49.230556    922.91
4    -25.448611 -49.230556    922.91
...         ...        ...       ...
1827 -25.448611 -49.230556    922.91
1828 -25.448611 -49.230556    922.91
1829 -25.448611 -49.230556    922.91
1830 -25.448611 -49.230556    922.91
1831 -25.448611 -49.230556    922.91

[1832 rows x 7 columns]
                 Nome: ITAJAI         Unnamed: 1  CIDADE ESTACAO_CODIGO  \
0      Latitude: -26.95083333                NaN  Itajai            ITJ
1     Longitude: -48.76194444                NaN  Itajai            ITJ
2              Altitude: 9.76                NaN  Itajai            ITJ
3                         NaN                NaN  Itajai            ITJ
4                    DATETIME  TEMPERATURA_MEDIA  Itajai            ITJ
...                       ...                ...     ...            ...
1827               12/27/2024                 23  Itajai            ITJ
1828               12/28/2024               24.5  Itajai            ITJ
1829               12/29/2024               24.1  Itajai            ITJ
1830               12/30/2024               23.2  Itajai            ITJ
1831               12/31/2024                 24  Itajai            ITJ

       LATITUDE  LONGITUDE  ALTITUDE
0    -26.950833 -49.230556      9.76
1    -26.950833 -49.230556      9.76
2    -26.950833 -49.230556      9.76
3    -26.950833 -49.230556      9.76
4    -26.950833 -49.230556      9.76
...         ...        ...       ...
1827 -26.950833 -49.230556      9.76
1828 -26.950833 -49.230556      9.76
1829 -26.950833 -49.230556      9.76
1830 -26.950833 -49.230556      9.76
1831 -26.950833 -49.230556      9.76

[1832 rows x 7 columns]
     Nome: PORTO ALEGRE - JARDIM BOTANICO         Unnamed: 1        CIDADE  \
0                  Latitude: -30.05361111                NaN  Porto Alegre
1                 Longitude: -51.17472221                NaN  Porto Alegre
2                         Altitude: 41.18                NaN  Porto Alegre
3                                     NaN                NaN  Porto Alegre
4                                DATETIME  TEMPERATURA_MEDIA  Porto Alegre
...                                   ...                ...           ...
1827                           12/27/2024               23.6  Porto Alegre
1828                           12/28/2024               23.3  Porto Alegre
1829                           12/29/2024               22.6  Porto Alegre
1830                           12/30/2024               23.3  Porto Alegre
1831                           12/31/2024               24.3  Porto Alegre

     ESTACAO_CODIGO   LATITUDE  LONGITUDE  ALTITUDE
0               POA -30.053611 -51.174722     41.18
1               POA -30.053611 -51.174722     41.18
2               POA -30.053611 -51.174722     41.18
3               POA -30.053611 -51.174722     41.18
4               POA -30.053611 -51.174722     41.18
...             ...        ...        ...       ...
1827            POA -30.053611 -51.174722     41.18
1828            POA -30.053611 -51.174722     41.18
1829            POA -30.053611 -51.174722     41.18
1830            POA -30.053611 -51.174722     41.18
1831            POA -30.053611 -51.174722     41.18

[1832 rows x 7 columns]

In [28]:
# Lista de DataFrames
dfs = [df_cwb, df_itj, df_poa]
print (dfs)

[               NOME: CURITIBA         UNNAMED: 1    CIDADE ESTACAO_CODIGO  \
0       Latitude: -25.4486111                NaN  Curitiba            CWB
1     Longitude: -49.23055554                NaN  Curitiba            CWB
2            Altitude: 922.91                NaN  Curitiba            CWB
3                         NaN                NaN  Curitiba            CWB
4                    DATETIME  TEMPERATURA_MEDIA  Curitiba            CWB
...                       ...                ...       ...            ...
1827               12/27/2024               21.7  Curitiba            CWB
1828               12/28/2024               22.3  Curitiba            CWB
1829               12/29/2024               20.5  Curitiba            CWB
1830               12/30/2024               19.5  Curitiba            CWB
1831               12/31/2024               20.6  Curitiba            CWB

       LATITUDE  LONGITUDE  ALTITUDE
0    -25.448611 -49.230556    922.91
1    -25.448611 -49.230556    922.91
2    -25.448611 -49.230556    922.91
3    -25.448611 -49.230556    922.91
4    -25.448611 -49.230556    922.91
...         ...        ...       ...
1827 -25.448611 -49.230556    922.91
1828 -25.448611 -49.230556    922.91
1829 -25.448611 -49.230556    922.91
1830 -25.448611 -49.230556    922.91
1831 -25.448611 -49.230556    922.91

[1832 rows x 7 columns],                  NOME: ITAJAI         UNNAMED: 1  CIDADE ESTACAO_CODIGO  \
0      Latitude: -26.95083333                NaN  Itajai            ITJ
1     Longitude: -48.76194444                NaN  Itajai            ITJ
2              Altitude: 9.76                NaN  Itajai            ITJ
3                         NaN                NaN  Itajai            ITJ
4                    DATETIME  TEMPERATURA_MEDIA  Itajai            ITJ
...                       ...                ...     ...            ...
1827               12/27/2024                 23  Itajai            ITJ
1828               12/28/2024               24.5  Itajai            ITJ
1829               12/29/2024               24.1  Itajai            ITJ
1830               12/30/2024               23.2  Itajai            ITJ
1831               12/31/2024                 24  Itajai            ITJ

       LATITUDE  LONGITUDE  ALTITUDE
0    -26.950833 -49.230556      9.76
1    -26.950833 -49.230556      9.76
2    -26.950833 -49.230556      9.76
3    -26.950833 -49.230556      9.76
4    -26.950833 -49.230556      9.76
...         ...        ...       ...
1827 -26.950833 -49.230556      9.76
1828 -26.950833 -49.230556      9.76
1829 -26.950833 -49.230556      9.76
1830 -26.950833 -49.230556      9.76
1831 -26.950833 -49.230556      9.76

[1832 rows x 7 columns],      NOME: PORTO ALEGRE - JARDIM BOTANICO         UNNAMED: 1        CIDADE  \
0                  Latitude: -30.05361111                NaN  Porto Alegre
1                 Longitude: -51.17472221                NaN  Porto Alegre
2                         Altitude: 41.18                NaN  Porto Alegre
3                                     NaN                NaN  Porto Alegre
4                                DATETIME  TEMPERATURA_MEDIA  Porto Alegre
...                                   ...                ...           ...
1827                           12/27/2024               23.6  Porto Alegre
1828                           12/28/2024               23.3  Porto Alegre
1829                           12/29/2024               22.6  Porto Alegre
1830                           12/30/2024               23.3  Porto Alegre
1831                           12/31/2024               24.3  Porto Alegre

     ESTACAO_CODIGO   LATITUDE  LONGITUDE  ALTITUDE
0               POA -30.053611 -51.174722     41.18
1               POA -30.053611 -51.174722     41.18
2               POA -30.053611 -51.174722     41.18
3               POA -30.053611 -51.174722     41.18
4               POA -30.053611 -51.174722     41.18
...             ...        ...        ...       ...
1827            POA -30.053611 -51.174722     41.18
1828            POA -30.053611 -51.174722     41.18
1829            POA -30.053611 -51.174722     41.18
1830            POA -30.053611 -51.174722     41.18
1831            POA -30.053611 -51.174722     41.18

[1832 rows x 7 columns]]

In [29]:
#Concatenação dos arquivos

df_sul = pd.concat(dfs, ignore_index=True)

print("DataFrame Final Unificado (df_sul):")
print(df_sul.head())
print(f"\nNúmero total de linhas em df_sul: {len(df_sul)}")

DataFrame Final Unificado (df_sul):
            NOME: CURITIBA         UNNAMED: 1    CIDADE ESTACAO_CODIGO  \
0    Latitude: -25.4486111                NaN  Curitiba            CWB
1  Longitude: -49.23055554                NaN  Curitiba            CWB
2         Altitude: 922.91                NaN  Curitiba            CWB
3                      NaN                NaN  Curitiba            CWB
4                 DATETIME  TEMPERATURA_MEDIA  Curitiba            CWB

    LATITUDE  LONGITUDE  ALTITUDE NOME: ITAJAI  \
0 -25.448611 -49.230556    922.91          NaN
1 -25.448611 -49.230556    922.91          NaN
2 -25.448611 -49.230556    922.91          NaN
3 -25.448611 -49.230556    922.91          NaN
4 -25.448611 -49.230556    922.91          NaN

  NOME: PORTO ALEGRE - JARDIM BOTANICO
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                                  NaN

Número total de linhas em df_sul: 5496

In [30]:
print(df_sul.columns)

Index(['NOME: CURITIBA', 'UNNAMED: 1', 'CIDADE', 'ESTACAO_CODIGO', 'LATITUDE',
       'LONGITUDE', 'ALTITUDE', 'NOME: ITAJAI',
       'NOME: PORTO ALEGRE - JARDIM BOTANICO'],
      dtype='object')